<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<link rel="icon" type="image/png" href="/static/icon.png" />
<title>{{.Title}} - {{.SiteName}}</title>
</head>
<body>

<header class="menu">
<a href="#main">Skip</a>
<a href="/"><img src="/static/logo.png" alt="{{.SiteName}}" /></a>
</header>
<main id="main">

<h1>{{.Title}}</h1>

<ul>
<li>Type: {{.Info.Type}}</li>
</ul>

<h2>Repositories</h2>

<dl>
{{range .Info.Repos}}
<dt><a href="{{.URL}}">{{.Name}}</a></dt>
<dd>{{.Description}}</dd>
{{else}}
<dt>(none)</dt>
<dd>No repositories.</dd>
{{end}}
</ul>

<p>
Original: <a href="{{.Info.URL}}">{{.Info.URL}}</a>
</p>

</main>
<footer class="menu">
<br />
<a href="/"><img src="/static/logo.png" alt="{{.SiteName}}" /></a>
</footer>

</body>
</html>
