app:
  mode: "devel"
  addr: ":8080"

site:
  base: "https://link.example.org/"
  name: "HimeLink"
  static: "./static"
  card: "https://link.example.org/static/card.png"

routes:
  - path: "code"
    protocol: "gitea"
    api: "https://git.example.org"

  - path: "github"
    protocol: "github"
    api: "https://api.github.com"
    raw: "https://raw.githubusercontent.com"

client:
  user-agent: "HimeLink/0.0"
  github-token: "(Your GitHub Token Here)"
