app:
  addr: ":8080"

site:
  name: "HimeLink"
  static: "./static"

routes:
  - path: "code"
    protocol: "gitea"
    api: "https://git.example.org"

  - path: "github"
    protocol: "github"
    api: "https://api.github.com"
    raw: "https://raw.githubusercontent.com"

client:
  user-agent: "HimeLink/0.0"
  github-token: "(Your GitHub Token Here)"
